body{
  margin: 0;
}

.map{
  position: relative;
  overflow: hidden;
}

.tile{
  pointer-events: none;
}

.node{
    fill: blue;
}

.calle{
    fill: none;
    opacity:0.5;
    stroke: black;
    stroke-width: 7px;
    cursor: pointer;
    vector-effect: non-scaling-stroke;
}

.selected-calle{
    stroke: red;
    stroke-width: 9px;
    opacity: 0.7;
}